

@media screen and (max-width: 466px) {


    table, thead, tbody, th, td, tr {
      display: block;
    }
  
    th {
      display: none;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      white-space: nowrap;
    }
  }